html {
    background: rgb(255, 255, 255);
    height: 100%;
}

body {
    background: linear-gradient(180deg, rgba(215, 215, 215, 1) 0%, rgba(247, 247, 247, 1) 5%, rgba(255, 255, 255, 1) 100%);
    margin: auto;
    min-height: 100%;
    padding-top: 30px;
    text-align: center;
    width: auto;
}

h1 {
    margin-left: 50px;
}
h1 .tag {
    position: relative;
    top: -25px;
}

.wrapper {
    margin: auto;
    max-width: 960px;
    width: auto;
}

.form.columns {
    margin-top: 20px;
}

.ad-panel {
    margin-top: 5px;
}

.tpanel {
    opacity: 0;
    transition: opacity 300ms;
}

.tpanel.active {
    opacity: 1;
}

.content {
    text-align: left;
}

.button span {
    margin-left: 5px;
}

.github-link {
    color: rgb(0, 0, 0);
    margin-right: 5px;
}

tfoot td {
    font-style: italic;
}

td.totals {
    font-weight: bold !important;
    text-align: right !important;
}

td.is-profit {
    background-color: rgba(72, 199, 116, 0.5);
}

td.is-loss {
    background-color: rgba(241, 70, 104, 0.5);
}

.footer-link {
    margin-top: 15px;
}
