html {
    height: 100%;
}

body {
    background: linear-gradient(180deg, rgba(215, 215, 215, 1) 0%, rgba(247, 247, 247, 1) 5%, rgba(255, 255, 255, 1) 100%);
    margin: auto;
    min-height: 100%;
    padding-top: 30px;
    text-align: center;
    width: auto;
}

h1 {
    margin-left: 50px;
}

h1 .tag {
    position: relative;
    top: -25px;
}

.wrapper {
    margin: auto;
    max-width: 960px;
    width: auto;
}

.form.columns {
    margin-top: 20px;
    margin-bottom: 0;
}

.tpanel {
    opacity: 0;
    transition: opacity 300ms;
}

.tpanel.active {
    opacity: 1;
}

.content {
    text-align: left;
}

.button span {
    margin-left: 5px;
}

.github-link {
    color: rgb(0, 0, 0);
    margin-right: 5px;
}

tfoot td {
    font-style: italic;
}

td.totals {
    font-weight: bold !important;
    text-align: right !important;
}

td.is-profit {
    background-color: rgba(72, 199, 116, 0.5);
}

td.is-loss {
    background-color: rgba(241, 70, 104, 0.5);
}

div.remember {
    margin-bottom: 15px;
    padding-right: 8px;
}

.amazon-panel {
    margin-top: 35px;
}

.footer {
    background: Transparent !important;
    padding-top: 20px;
}

.footer-link {
    margin-top: 10px;
}

.footer-link a {
    background: url(/favicon.png) no-repeat left;
    background-size: 16px 16px;
    margin-top: 15px;
    padding-left: 18px;
}

#cookie-panel {
    background: rgba(33, 33, 33, 0.8);
    bottom: 0;
    color: rgb(255, 255, 255);
    left: 0;
    position: fixed;
    width: 100%;
    transition: opacity 1000ms;
}

#cookie-panel.hidden {
    opacity: 0;
}

#cookie-panel.visible {
    opacity: 1;
}

#cookie-panel button {
    margin-bottom: 10px;
}
